html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Avenir Next', Avenir, sans-serif;
    font-size: 14px;
}

a {
    color: #0d6efd;
}

a:hover {
    text-decoration: none;
}

.scope,
.member {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem
}

.kind_part,
.namespace_part,
.scope>h2>.templateparamlist {
    color: #ced4da;
}

.name_part {
    display: block;
}

.scope {
    padding: 0 .5rem;
    margin-bottom: 2rem;
}

.member {
    margin: 1rem 0;
}

.member .definition:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.member .definition {
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,.015);
    font-family: "Source Code Pro", Consolas, Monaco, monospace;
}

.member .description {
    position: relative;
    display: block;
    padding: 0 1rem;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,.125);
}

.member .enumvalues {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.member .enumvalues dt {
    padding-bottom: .2rem;
    font-family: "Source Code Pro", Consolas, Monaco, monospace;
}

dd, dt, dl {
    margin-top: 0;
}


.member_name {
    color: #9a6e31;
    font-weight: 600;
}

.templateparamlist {
    color: #6c757d;
    display: block;
}

.keyword {
    color: #2f6f9f;
}

.type,
.type a {
    color: #168174;
}

.rettype,
.rettype a {
    color: #ad448e;
}

.description a {
    color: #168174;
    background: #f5f5f5;
    text-decoration: none;
    padding: 0 0.1em;
    border-radius: 3px;
    font-family: "Source Code Pro", Consolas, Monaco, monospace;
}

.description a:hover {
    text-decoration: underline;
}

.declname {
    color: #006ee0;
    font-family: "Source Code Pro", Consolas, Monaco, monospace;
}

.defval,
.defval a {
    color: #6c757d;
}

.parameterlist {
    border-collapse: collapse;
    margin: .5em 0;
}

.parameterlist tr td:first-child {
    font-family: "Source Code Pro", 'Courier New', Courier, monospace;
    padding-right: 0.5em;
}

.parameterlist td {
    vertical-align: top;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.3em 0;
}

.parameterlist p {
    margin: 0;
    padding: 0;
}

.programlisting {
    font-family: "Source Code Pro", Consolas, Monaco, monospace;
    font-size: 0.8rem;
    display: inline-block;
    border: 1px solid #ced4da;
    padding: 0.5rem;
}

.highlight-keyword {
    color: #008000;
    font-weight: bold;
}

.highlight-keywordflow {
    color: #008000;
    font-weight: bold;
}

.highlight-keywordtype {
    color: #B00040;
}

.highlight-normal {
    color: #666666;
}

.highlight-comment {
    color: #408080;
    font-style: italic;
}

.highlight-stringliteral {
    color: #BA2121;
}

.highlight-charliteral {
    color: #BA2121;
}

.highlight-preprocessor {
    color: #BC7A00;
}

main {
    max-width: 40rem;
    margin-left: 21rem;
}

main table {
    padding: 1.5rem;
    width: 100%;
    border-collapse: collapse;
}

main table td, main table th {
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

main table td:not(:last-child), main table th:not(:last-child) {
    padding-right: 1em;
}

main table tr:first-of-type th {
    border-bottom: 1px solid #000000;
}

main img {
    max-width: 100%;
}

#sidebar {
    background-color: white; /* define opaque background color to make scrolling reliable */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20rem;
    border: 0;
    overflow-y: auto;
    padding-right: .5rem;
    z-index: 1; /* move this ontop of leftcol, TODO: emove when emoving review feature */
    font-size: 0.86em;
}

#sidebar h1 {
    padding: 0 0 .5em .5em;
}

#sidebar details {
    padding-left: 1em;
}

#sidebar summary, #sidebar details>a, #sidebar>a {
    border-radius: 0.40em;
    padding: .25em;
    margin: 0.05em;
    word-wrap: break-word;
}

#sidebar summary {
    font-size: 1em;
    font-weight: normal;
    word-wrap: break-word;
}

#sidebar summary::-webkit-details-marker {
    display: none;
}
#sidebar summary::marker {
    display: none;
}
#sidebar summary {
    list-style-type: none;
}

#sidebar summary:before {
    content: "+";
    /*content: "▸";*/
    display: inline-block;
    width: 1em;
    margin: 0;
}
#sidebar details[open]>summary:before {
    content: "–";
    /*content: "▾";*/
}

#sidebar>a:before, #sidebar details>a:before {
    content: "⚬";
    display: inline-block;
    width: 1em;
    margin: 0;
}

#sidebar>a, #sidebar details>a {
    margin-left: 1em;
}

#sidebar a {
    color: black;
    text-decoration: none;
}

#sidebar details>a, #sidebar>a {
    display: block;
}

#sidebar details>a:hover, #sidebar details>summary:hover {
    background-color: #eee;
}

#sidebar>a.current, #sidebar details>a.current, #sidebar summary.current, #sidebar summary.current>a {
    background-color: hsl(215, 45%, 46%) !important;
    color: white;
}
#sidebar details.current-path>summary {
    background-color: hsl(215, 56%, 90%);
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.1em;
}

.alert {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.alert h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.alert p {
    margin-bottom: 0;
}

.alert + .alert {
    margin-top: -.25rem;
}

.alert-warning {
    border-left-color: #f0ad4e;
}

.alert-info {
    border-left-color: #5bc0de;
}

.alert-danger {
    border-left-color: #dc3545;
}

.programlisting {
    display: block;
    border: 1px solid #ced4da;
    padding: 0.5rem;
}

.highlight-keyword,
.highlight-keyword a {
    color: #008000;
    font-weight: bold;
}

.highlight-keywordflow,
.highlight-keywordflow a {
    color: #008000;
    font-weight: bold;
}

.highlight-keywordtype,
.highlight-keywordtype a {
    color: #B00040;
}

.highlight-normal,
.highlight-normal a {
    color: #666666;
}

.highlight-comment,
.highlight-comment a {
    color: #408080;
    font-style: italic;
}

.highlight-stringliteral,
.highlight-stringliteral a {
    color: #BA2121;
}

.highlight-charliteral,
.highlight-charliteral a {
    color: #BA2121;
}

.highlight-preprocessor,
.highlight-preprocessor a {
    color: #BC7A00;
}