<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/style.css">

    {% if common.has_math %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}

    <title>{{ common.title }}</title>
</head>

<body>
    <div id="sidebar">
        <h1>ModuleWorks Docs</h1>
    </div>
    <main>
        <h1>{{ common.title }}</h1>
        {% for scope in scopes %}
        <a name="{{scope.ref_id}}"></a>
        <div class="scope">
            <h2>{{ scope.name | safe }}</h2>

            {% for section in scope.sections %}
            {% if section.name %}
            <h3>{{section.name}}</h3>
            {% endif %}
            {% if section.description %}
            {{ section.description | safe }}
            {% endif %}
            {% for member in section.members %}
            <a name="{{member.ref_id}}"></a>
            <div class="member">
                <div class="definition">{{member.definition | safe}}</div>
                {% if member.description %}
                <div class="description">{{member.description | safe}}</div>
                {% endif %}
                {% if member.enum_values %}
                <dl class="enumvalues">
                    {% for enum_value in member.enum_values %}
                    <dt><a name="{{enum_value.ref_id}}"></a><span class="declname">{{enum_value.name}}</span> <span
                            class="defval">{{enum_value.initializer | safe}}</span></dt>
                    <dd class="description">{{enum_value.description | safe}}</dd>
                    {% endfor %}
                </dl>
                {% endif %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
    </main>

    <script>let pathToRoot = "";</script>
    <script src="nav.js"></script>
    <script src="static/script.js"></script>
</body>

</html>