<!DOCTYPE html>
<html>

<head>
    <base target="_PARENT">
    <title>NavBar</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Avenir Next', Avenir, sans-serif;
            font-size: 12px;
        }

        a {
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h1>Navigation</h1>
    {% for link in links %}
    <a href="{{link.href | safe}}">{{link.text}}</a><br />
    {% endfor %}
</body>

</html>