<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/style.css">

    <base target="_PARENT">

    <title>NavBar</title>
</head>

<body>
    <h1>Navigation</h1>
    <nav id="sidebar">
        {% for section in sections %}
        <details>
            <summary>{{ section.title }}</summary>
            {% for link in section.children %}
            <a href="{{link.href | safe}}">{{link.text}}</a>
            {% endfor %}
        </details>
        {% endfor %}
    </nav>

</body>

</html>